In [1]:
import pandas as pd
import math

In [2]:
liste = [1,3,8,5,"yte"]
a = math.cos(20)

In [3]:
"hello this is my first python code"

'hello this is my first python code'

In [4]:
a

0.40808206181339196

In [5]:
liste

[1, 3, 8, 5, 'yte']

In [6]:
tuple1 = ("a", "b", "c")

## Dictionnaire

In [7]:
etudiant1 = {
    "username": "samy",
    "numero de tel":123456,
    "adresse": {
        "postale":"95600",
        "zip code":"kusd"
    }
}

In [8]:
etudiant1["adresse"]["postale"]

'95600'

In [9]:
for key,item in etudiant1["adresse"].items():
    print(f"{key} : {item}")

postale : 95600
zip code : kusd

In [10]:
for item in etudiant1.values():
    print(item)

samy
123456
{'postale': '95600', 'zip code': 'kusd'}

In [11]:
for key,item in etudiant1.items():
    print(f"{key} : {item}")

username : samy
numero de tel : 123456
adresse : {'postale': '95600', 'zip code': 'kusd'}

## Fonctions

In [12]:
def somme(a,b):
    som = a+b
    return som

In [13]:
somme(3,6)

9

## Loops

In [14]:
liste

[1, 3, 8, 5, 'yte']

In [15]:
for item in liste:
    print(item)

1
3
8
5
yte

In [16]:
for i in range(len(liste)):
    print(liste[i])

1
3
8
5
yte

In [17]:
a = 5
b = 10
d = False

In [18]:
if ( a>3 and b<11 ):
    print("true")

true

In [19]:
nom = "samy"
prenom = "Adam"

In [20]:
if (nom):
    print("true")
else:
    print("false")

true

In [21]:
test = "OUi c'est vrai" if nom == "samy" else "Non c'est faux"

In [22]:
test

"OUi c'est vrai"

In [23]:
class Personne:
    
    def __init__(self, nom, age):
        self.nom = nom
        self.__age = age
        self._adresse = "Paris 75000"
        
    
    def get_nom(self):
        return self.nom
    
    def get_adresse(self):
        return self._adresse
    
    def get_age(self):
        return self.__age
    
    def __incrementer_age(self, a):
        self.__age = self.__age + a
        
    def personne_age(self):
        self.__incrementer_age(10)

In [24]:
personne1 = Personne("Samy", 25)

In [25]:
personne1.nom

'Samy'

In [26]:
personne1._adresse

'Paris 75000'

In [27]:
personne1.personne_age()

In [28]:
personne1.get_age()

35

In [29]:
class Animal:
    
    def __init__(self, nom, prenom):
        self.nom = nom
        self.prenom = prenom
        
        
    def parler(self):
        print(f"je suis  {self.nom} et je parle ")

In [30]:
class Chat(Animal):
    
    def __init__(self, nom, prenom, race):
        self.type = "je suis chat"
        self.race = race
        super().__init__(nom, prenom)
        
    def afficher_animal(self):
        print(f"je suis {self.nom} et {self.prenom} de la race {self.race}")

In [31]:
chat1 = Chat("Felix", "Labir", "Gr")
chien = Chat("Felix2", "Labi2r", "Gr2")

In [32]:
chat1

In [33]:
chat1.race

'Gr'

In [34]:
dictio_animales = [ {"Animal" : chat1}, {"Animal" : chien} ]

In [35]:
dictio_animales[0]

{'Animal': <__main__.Chat at 0x21567b86120>}

In [36]:
for item in dictio_animales:
    for key,ite in item.items():
        print(f"{key} : {ite.nom}")
        print(f"{key} : {ite.prenom}")
        print(f"{key} : {ite.race}")
    print("=============")

Animal : Felix
Animal : Labir
Animal : Gr
=============
Animal : Felix2
Animal : Labi2r
Animal : Gr2
=============

In [37]:
for item in dictio_animales:
    for ite in item.values():
        print("A ", ite.afficher_animal(), " B")
    print("=============")

je suis Felix et Labir de la race Gr
A  None  B
=============
je suis Felix2 et Labi2r de la race Gr2
A  None  B
=============

In [38]:
data = pd.read_csv("./Files/sql-pays.csv", sep=",", header=None)

In [39]:
data.columns = ["ID", "ID2", "Code-2 IATA", "Code-3 IATA", "Nom", "Name"]

In [40]:
data

,ID,ID2,Code-2 IATA,Code-3 IATA,Nom,Name
0,1,4,AF,AFG,Afghanistan,Afghanistan
1,2,8,AL,ALB,Albanie,Albania
2,3,10,AQ,ATA,Antarctique,Antarctica
3,4,12,DZ,DZA,Algérie,Algeria
4,5,16,AS,ASM,Samoa Américaines,American Samoa
...,...,...,...,...,...,...
236,237,876,WF,WLF,Wallis et Futuna,Wallis and Futuna
237,238,882,WS,WSM,Samoa,Samoa
238,239,887,YE,YEM,Yémen,Yemen
239,240,891,CS,SCG,Serbie-et-Monténégro,Serbia and Montenegro
240,241,894,ZM,ZMB,Zambie,Zambia

In [41]:
data.shape

(241, 6)

In [42]:
data.head(20)

    ID  ID2 Code-2 IATA Code-3 IATA                 Nom                 Name
0    1    4          AF         AFG         Afghanistan          Afghanistan
1    2    8          AL         ALB             Albanie              Albania
2    3   10          AQ         ATA         Antarctique           Antarctica
3    4   12          DZ         DZA             Algérie              Algeria
4    5   16          AS         ASM   Samoa Américaines       American Samoa
5    6   20          AD         AND             Andorre              Andorra
6    7   24          AO         AGO              Angola               Angola
7    8   28          AG         ATG  Antigua-et-Barbuda  Antigua and Barbuda
8    9   31          AZ         AZE         Azerbaïdjan           Azerbaijan
9   10   32          AR         ARG           Argentine            Argentina
10  11   36          AU         AUS           Australie            Australia
11  12   40          AT         AUT            Autriche              Austria
12  13   44          BS         BHS             Bahamas              Bahamas
13  14   48          BH         BHR             Bahreïn              Bahrain
14  15   50          BD         BGD          Bangladesh           Bangladesh
15  16   51          AM         ARM             Arménie              Armenia
16  17   52          BB         BRB             Barbade             Barbados
17  18   56          BE         BEL            Belgique              Belgium
18  19   60          BM         BMU            Bermudes              Bermuda
19  20   64          BT         BTN             Bhoutan               Bhutan

In [43]:
data.tail(5)

,ID,ID2,Code-2 IATA,Code-3 IATA,Nom,Name
236,237,876,WF,WLF,Wallis et Futuna,Wallis and Futuna
237,238,882,WS,WSM,Samoa,Samoa
238,239,887,YE,YEM,Yémen,Yemen
239,240,891,CS,SCG,Serbie-et-Monténégro,Serbia and Montenegro
240,241,894,ZM,ZMB,Zambie,Zambia

data.iloc[a,b] : a = ligne / b = colonne

: veut dire TOUT

a:b veut dire de a à b

In [44]:
data_reduit = data.iloc[:,[2,3,5]]

In [45]:
data_reduit

    Code-2 IATA Code-3 IATA                   Name
0            AF         AFG            Afghanistan
1            AL         ALB                Albania
2            AQ         ATA             Antarctica
3            DZ         DZA                Algeria
4            AS         ASM         American Samoa
..          ...         ...                    ...
236          WF         WLF      Wallis and Futuna
237          WS         WSM                  Samoa
238          YE         YEM                  Yemen
239          CS         SCG  Serbia and Montenegro
240          ZM         ZMB                 Zambia

[241 rows x 3 columns]

In [46]:
data["Code-3 IATA"]

0      AFG
1      ALB
2      ATA
3      DZA
4      ASM
      ...
236    WLF
237    WSM
238    YEM
239    SCG
240    ZMB
Name: Code-3 IATA, Length: 241, dtype: object

In [47]:
pays_precis = data[ data["Name"] == "Albania" ]

In [48]:
pays_precis

   ID  ID2 Code-2 IATA Code-3 IATA      Nom     Name
1   2    8          AL         ALB  Albanie  Albania

In [49]:
pays_precis = data[ data["Name"].str.contains(r"^Al", regex=True) ]

In [50]:
pays_precis = data[ data["Name"].str.contains(r"^A.*ia$", regex=True) ]

In [51]:
pays_precis = data[ data["Name"].str.contains(r"ALB", regex=True) ]

In [52]:
pays_precis

Empty DataFrame
Columns: [ID, ID2, Code-2 IATA, Code-3 IATA, Nom, Name]
Index: []

In [53]:
df = {
    "Nom" : ["Hafid", "Jean", "Marie", "Steph"],
    "Age" : [23, 45, 12, 20],
    "Ville" : ["Paris", "Lyon", "Marseille", "Bordeaux"],
    "Profession" : ["Ingénieur", "Médecin", "Étudiant", "Artiste"],
    "Pays" : ["France", "France", "France", "France"],
    "Score" : [87, 92, 56, 77]
}

In [54]:
df

{'Nom': ['Hafid', 'Jean', 'Marie', 'Steph'],
 'Age': [23, 45, 12, 20],
 'Ville': ['Paris', 'Lyon', 'Marseille', 'Bordeaux'],
 'Profession': ['Ingénieur', 'Médecin', 'Étudiant', 'Artiste'],
 'Pays': ['France', 'France', 'France', 'France'],
 'Score': [87, 92, 56, 77]}

In [55]:
df = pd.DataFrame(df)

In [56]:
df

     Nom  Age      Ville Profession    Pays  Score
0  Hafid   23      Paris  Ingénieur  France     87
1   Jean   45       Lyon    Médecin  France     92
2  Marie   12  Marseille   Étudiant  France     56
3  Steph   20   Bordeaux    Artiste  France     77

# Machine Learning (IRIS)

In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [58]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier

In [59]:
import numpy as np

### Prétraitement de données (Preprocessing)

In [60]:
df = pd.read_csv("./Files/IRIS.csv")
df.shape

(150, 5)

In [61]:
df = df.dropna()
df.shape

(150, 5)

In [62]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [63]:
df["species"].unique() #DISTINCT

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [64]:
X = df.drop(columns=["species"]) # Les caracterissstique de la plante
y = df["species"] # Le type de plante

In [65]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [66]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.4, random_state=42)
# Attention à l'overfitting = ton model apprend par coeur et ne comprend rien

In [68]:
y_test.unique()

array(['Iris-versicolor', 'Iris-virginica', 'Iris-setosa'], dtype=object)

In [69]:
y_train.unique()

array(['Iris-virginica', 'Iris-setosa', 'Iris-versicolor'], dtype=object)

### Choix du modèle

In [70]:
model = RandomForestClassifier(n_estimators=100, random_state=20)

In [71]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=20)

In [72]:
y_pred = model.predict(X_test)

In [73]:
y_pred = pd.DataFrame(y_pred)

In [74]:
y_pred[0].unique()

array(['Iris-versicolor', 'Iris-virginica', 'Iris-setosa'], dtype=object)

In [75]:
accuracy_score(y_test, y_pred)

0.9833333333333333

In [76]:
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        20
Iris-versicolor       0.96      1.00      0.98        22
 Iris-virginica       1.00      0.94      0.97        18

       accuracy                           0.98        60
      macro avg       0.99      0.98      0.98        60
   weighted avg       0.98      0.98      0.98        60

In [77]:
nouvelle_plante = np.array([[100,20,36,10]])

In [78]:
plante = model.predict(nouvelle_plante)

c:\Users\zerpl\Desktop\Samy Zeroual\Samy Zeroual\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [79]:
plante[0]

'Iris-virginica'